@import '../variables';

.intro {
  
  .name-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: $font-primary;

    .header-name {
      font-size: 3.5rem;
      margin-bottom: -10px;
    }

    .header-title {
      font-size: 2rem;
    }
  }
  
  .intro-container {
    display: flex;
    height: 39vh;
    margin-top: 18%;
    background: linear-gradient(to right, $color-secondary, $color-primary);

    .intro-left {
      display: flex;
      align-items: flex-end;
      margin-left: 5%;

      .profile-pic {
        width: 18vw;
        margin-left: 10%;
      }
    }

    .intro-right {
      margin: 0% 5% 0% 5%;
      color: #fff;

      .japanese-text {
        font-size: 3.5rem;
        font-family: $font-primary;
        font-weight: bold;
        letter-spacing: 0.5rem;
        margin-left: -8px;
        margin-bottom: -20px;
      }

      .translation-text {
        font-size: 2.5rem;
        font-family: $font-primary;
      }

      .statement {
        font-size: 1.5rem;
        font-family: $font-secondary;
      }

      .social-media-icons {
        display: flex;
        justify-content: space-between;
        margin: 0% 5% 0% 1%;

        .cv-icon{
          color: #fff;
          font-size: 2.25rem;
        }
      }
    }
  }
}