@import '../variables';

.intro {

  .intro-container {
    display: flex;
    height: 37vh;
    background: linear-gradient(to right, $color-secondary, $color-primary);

    .intro-left {
      display: flex;
      align-items: flex-end;
      margin-left: 5%;

      .intro-img {
        width: 18vw;
        margin-left: 10%;
      }
    }

    .intro-right {
      margin: 0% 5% 0% 5%;
      color: #fff;

      .intro-heading {
        font-size: 3rem;
        font-family: $font-primary;
        font-weight: bold;
        letter-spacing: 0.5rem;
        margin-left: -8px;
        margin-bottom: -20px;
      }

      .intro-sub-heading {
        font-size: 2rem;
        font-family: $font-primary;
      }

      .intro-para {
        font-size: 1.25rem;
        font-family: $font-secondary;
      }
    }
  }
}