@import '../variables';

html,body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 62.5%; 
  
  #root {
    width: 100%;
    height: 100%;

    .app {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      background-color: $bg-color;

      .bg-center {
        width: 60%;
        background-image: url('../img/background009.jpg');
        background-size: cover;
        // box-shadow: $shadow;
      }
    }
  }
}
