@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Merriweather&display=swap');

$font-primary: 'Lora', serif;
$font-secondary: 'Merriweather', serif;


$color-primary: #272727;
$color-secondary: #424242;
$bg-color: #2a2a2a;

$shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
